<p id="email" class="field" style="position:absolute; width:190px; left:-9999px; top: -9999px;" >
  <label for="email_field">If you can see this, leave it blank</label>
  <input id="email_field" type="text" size="30" name="email" autocomplete="off"/>
</p>